node_red/recipe_17_08.json
[{"id":"bb19c3a5.5ac5e","type":"tab","label":"Recipe 17_08","disabled":false,"info":""},{"id":"f42c4a18.1f14c8","type":"mqtt out","z":"bb19c3a5.5ac5e","name":"Sonoff_1","topic":"cmnd/sonoff_1/power","qos":"2","retain":"","broker":"6ad68786.938028","x":440,"y":240,"wires":[]},{"id":"cb73e998.494a08","type":"ui_switch","z":"bb19c3a5.5ac5e","name":"Lights","label":"switch","tooltip":"","group":"fb12146.d1a6be8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sonoff_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":240,"wires":[["f42c4a18.1f14c8"]]},{"id":"42b33c29.a010c4","type":"inject","z":"bb19c3a5.5ac5e","name":"Auto Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["f42c4a18.1f14c8"]]},{"id":"6ad68786.938028","type":"mqtt-broker","z":"","name":"MyHomeAutomation","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb12146.d1a6be8","type":"ui_group","z":"","name":"Lights","tab":"1043f1d0.f532ce","disp":true,"width":"6","collapse":false},{"id":"1043f1d0.f532ce","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
