node_red/recipe_17_07_B.json
[{"id":"b295b123.d8c2d","type":"tab","label":"Recipe 17_07_B","disabled":false,"info":""},{"id":"c87d7a1.a64bb88","type":"mqtt out","z":"b295b123.d8c2d","name":"Sonoff_1","topic":"cmnd/sonoff_1/power","qos":"2","retain":"","broker":"6ad68786.938028","x":540,"y":220,"wires":[]},{"id":"87e759ca.cfd508","type":"trigger","z":"b295b123.d8c2d","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":80,"wires":[["c87d7a1.a64bb88"]]},{"id":"796829e4.985c08","type":"ui_button","z":"b295b123.d8c2d","name":"Lights On Button","group":"fb12146.d1a6be8","order":1,"width":0,"height":0,"passthru":false,"label":"Lights","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":220,"wires":[["c87d7a1.a64bb88","87e759ca.cfd508"]]},{"id":"80d98b9f.e70338","type":"ui_switch","z":"b295b123.d8c2d","name":"Lights On/Off","label":"Lights On/Off","tooltip":"","group":"fb12146.d1a6be8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":280,"wires":[["c87d7a1.a64bb88"]]},{"id":"6ad68786.938028","type":"mqtt-broker","z":"","name":"MyHomeAutomation","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb12146.d1a6be8","type":"ui_group","z":"","name":"Lights","tab":"1043f1d0.f532ce","disp":true,"width":"6","collapse":false},{"id":"1043f1d0.f532ce","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
