node_red/recipe_17_10.json
[{"id":"e4f6800b.8652c","type":"tab","label":"Recipe 17_10","disabled":false,"info":""},{"id":"90c04193.7aa31","type":"mqtt out","z":"e4f6800b.8652c","name":"Sonoff_1","topic":"cmnd/sonoff_1/power","qos":"2","retain":"","broker":"6ad68786.938028","x":400,"y":340,"wires":[]},{"id":"7eb1eea8.07183","type":"mqtt in","z":"e4f6800b.8652c","name":"Button 1","topic":"button_1","qos":"2","broker":"6ad68786.938028","x":120,"y":200,"wires":[["2a527589.1d08ba"]]},{"id":"2a527589.1d08ba","type":"trigger","z":"e4f6800b.8652c","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Trigger","x":150,"y":280,"wires":[["706be249.a03a4c"]]},{"id":"706be249.a03a4c","type":"function","z":"e4f6800b.8652c","name":"Toggle","func":"var i=context.get('i') || 0;\nvar payload=msg.payload;\ncontext.set(\"i\",Math.abs(i-payload));\nvar payload=msg.payload;\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["90c04193.7aa31"]]},{"id":"6ad68786.938028","type":"mqtt-broker","z":"","name":"MyHomeAutomation","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
