node_red/recipe_17_10.json
[{"id":"bb19c3a5.5ac5e","type":"tab","label":"Recipe 17_10","disabled":false,"info":""},{"id":"f42c4a18.1f14c8","type":"mqtt out","z":"bb19c3a5.5ac5e","name":"Sonoff_1","topic":"cmnd/sonoff_1/power","qos":"2","retain":"","broker":"6ad68786.938028","x":400,"y":340,"wires":[]},{"id":"615ccaa8.fa7734","type":"mqtt in","z":"bb19c3a5.5ac5e","name":"Button 1","topic":"button_1","qos":"2","broker":"6ad68786.938028","x":120,"y":200,"wires":[["debcb73.4bcb048"]]},{"id":"debcb73.4bcb048","type":"trigger","z":"bb19c3a5.5ac5e","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Trigger","x":150,"y":280,"wires":[["c9b2f818.5b1748"]]},{"id":"c9b2f818.5b1748","type":"function","z":"bb19c3a5.5ac5e","name":"Toggle","func":"var i=context.get('i') || 0;\nvar payload=msg.payload;\ncontext.set(\"i\",Math.abs(i-payload));\nvar payload=msg.payload;\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["f42c4a18.1f14c8"]]},{"id":"6ad68786.938028","type":"mqtt-broker","z":"","name":"MyHomeAutomation","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
