node_red/recipe_17_07_A.json
[{"id":"9e401e48.aa631","type":"tab","label":"Recipe 17_07_A","disabled":false,"info":""},{"id":"86951f6d.1a459","type":"mqtt out","z":"9e401e48.aa631","name":"Sonoff_1","topic":"cmnd/sonoff_1/power","qos":"2","retain":"","broker":"6ad68786.938028","x":560,"y":260,"wires":[]},{"id":"9befcecc.7eab1","type":"trigger","z":"9e401e48.aa631","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":120,"wires":[["86951f6d.1a459"]]},{"id":"a812b4b9.2bd1a8","type":"ui_button","z":"9e401e48.aa631","name":"Lights On Button","group":"fb12146.d1a6be8","order":1,"width":0,"height":0,"passthru":false,"label":"Lights","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":130,"y":260,"wires":[["86951f6d.1a459","9befcecc.7eab1"]]},{"id":"6ad68786.938028","type":"mqtt-broker","z":"","name":"MyHomeAutomation","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb12146.d1a6be8","type":"ui_group","z":"","name":"Lights","tab":"1043f1d0.f532ce","disp":true,"width":"6","collapse":false},{"id":"1043f1d0.f532ce","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
